<header>
    
          <div class="container">
              <div class="intro-message">
                <h3>{{userdata.name}}</h3>
                <h3>{{userdata.bio}}</h3>
                <img src="{{userdata.avatar_url}}" alt="">
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                  <li class="list-inline-item">
                    <a href="#" class="btn btn-secondary btn-lg">
                      <span class="network-name">Twitter</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="btn btn-secondary btn-lg">
                      <span class="network-name">Github</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="btn btn-secondary btn-lg">
                      <span class="network-name">Linkedin</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
      </header>